{% extends 'base.html' %}
{% block content %}
<form method="post" action="/current">
      {{ form.hidden_tag() }}
    <div class="single-blog-wrapper">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="regular-page-content-wrapper section-padding-80">
                            <h2>Change Password</h2>
                         {% with messages = get_flashed_messages() %}
                              {% if messages %}
                                <ul class=flashes>
                                {% for message in messages %}
                                  <li style = 'color:red;'>{{ message }}</li>
                                {% endfor %}
                                </ul>
                                <br>
                              {% endif %}
                            {% endwith %}

<br>


                          {% if errors %}
                            <p style = 'color:red'>{{ errors }} </p>
                          {% endif %}




                            <div class="input-group flex-nowrap">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="addon-wrapping">Current Password</span>
                              </div>
                                {{ form.currentPassword(class_='form-control',placeholder='Password') }}
                            </div>


                            <br>
                                   <div class="input-group flex-nowrap">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="addon-wrapping">New Password</span>
                              </div>
                                {{ form.newPassword(class_='form-control',placeholder='New Password') }}
                            </div>

                            <br>
                                    <div class="input-group flex-nowrap">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="addon-wrapping">Confirm Password</span>
                              </div>
                                {{ form.confirm(class_='form-control',placeholder='Confirm Password') }}
                            </div>
                            <br>
                            <center><input type="submit"  value="Proceed" class="btn btn-outline-primary"></center>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
