{% extends 'base.html' %}
{% block title %}NTechBanking - Balance{% endblock %}
{% block content %}
  <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="regular-page-content-wrapper section-padding-80">
                        {% with messages = get_flashed_messages() %}
                              {% if messages %}
                                <ul class=flashes>
                                {% for message in messages %}
                                  <li style = 'color:red;'>{{ message }}</li>
                                {% endfor %}
                                </ul>
                                <br>
                              {% endif %}
                            {% endwith %}

<br>
                         <h2>Balance</h2>
                            <p>Your Current Balance</p>
                        <div class="regular-page-text">
                        {% if current_user.balance == None %}
                           <center> <h1>$0.00</h1></center>
                            <a style="color:blue;" href="/deposit/{{current_user.username}}">Deposit Now?</a>
                            {% else %}
                            <center> <h1>{{ current_user.balance }}</h1></center>
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>
  </div>

{% endblock %}