{% extends 'base.html' %}
{% block title %}NTechBanking - Welcome {% endblock %}
{% block content %}  <!-- ##### Welcome Area Start ##### -->
    <section class="welcome_area bg-img background-overlay" style="background-image: url( {{url_for('static',filename='img/bg-img/bg-11.jpg') }} )">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="hero-content">
                        <p>{{ ip }}</p>
                      <p style="color: #D3D3D3;">NT&reg;	 x Banking presents</p>
                      <h1 style="color: blue;"><mark>ntBK Secure Payment</mark></h1>
                        <h3 style="color: white;">Stop Worrying. Start Paying.</h3>
                        <p style="color: white;">Try our Secure Payment Transaction </p>
                      </br>
                        <a href="#" class="btn essence-btn">Start Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Welcome Area End ##### -->

    <!-- ##### Top Catagory Area Start ##### -->
    <div class="top_catagory_area section-padding-80 clearfix">
        <div class="section-heading text-center">-->
                        <h2>Features</h2>
                    </div>
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Catagory -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../static/img/bg-img/bg-2.jpg);">
                        <div class="catagory-content">
                            <a href="#">Transfer</a>
                        </div>
                    </div>
                </div>
                <!-- Single Catagory -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../static/img/bg-img/bg-3.jpg);">
                        <div class="catagory-content">
                            <a href="#">Transaction</a>
                        </div>
                    </div>
                </div>
                <!-- Single Catagory -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../static/img/bg-img/bg-4.jpg);">
                        <div class="catagory-content">
                            <a href="#">Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Top Catagory Area End ##### -->

    <!-- ##### New Arrivals Area Start ##### -->
<!--    <section class="new_arrivals_area section-padding-80 clearfix">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-12">-->
<!--                    <div class="section-heading text-center">-->
<!--                        <h2>Fresh Drop</h2>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-12">-->
<!--                    <div class="popular-products-slides owl-carousel">-->

<!--                        &lt;!&ndash; Single Product &ndash;&gt;-->
<!--                        <div class="single-product-wrapper">-->
<!--                            &lt;!&ndash; Product Image &ndash;&gt;-->
<!--                            <div class="product-img">-->
<!--                                <img src="{{ url_for('static',filename = 'img/product-img/product-1.jpg') }}" alt="">-->
<!--                                &lt;!&ndash; Hover Thumb &ndash;&gt;-->
<!--                                <img class="hover-img" src="{{ url_for('static',filename = 'img/product-img/product-2.jpg') }}" alt="">-->
<!--                                &lt;!&ndash; Favourite &ndash;&gt;-->
<!--                                <div class="product-favourite">-->
<!--                                    <a href="#" class="favme fa fa-heart"></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Product Description &ndash;&gt;-->
<!--                            <div class="product-description">-->
<!--                                <span>Servo</span>-->
<!--                                <a href="single-product-details.html">-->
<!--                                    <h6>1GBit Server Rack</h6>-->
<!--                                </a>-->
<!--                                <p class="product-price">$80.00</p>-->

<!--                                &lt;!&ndash; Hover Content &ndash;&gt;-->
<!--                                <div class="hover-content">-->
<!--                                    &lt;!&ndash; Add to Cart &ndash;&gt;-->
<!--                                    <div class="add-to-cart-btn">-->
<!--                                        <a href="#" class="btn essence-btn">Add to Cart</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Single Product &ndash;&gt;-->
<!--                        <div class="single-product-wrapper">-->
<!--                            &lt;!&ndash; Product Image &ndash;&gt;-->
<!--                            <div class="product-img">-->
<!--                                <img src="{{ url_for('static',filename = 'img/product-img/product-2.jpg') }}" alt="">-->
<!--                                &lt;!&ndash; Hover Thumb &ndash;&gt;-->
<!--                                <img class="hover-img" src="{{ url_for('static',filename ='img/product-img/product-3.jpg') }}" alt="">-->
<!--                                &lt;!&ndash; Favourite &ndash;&gt;-->
<!--                                <div class="product-favourite">-->
<!--                                    <a href="#" class="favme fa fa-heart"></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Product Description &ndash;&gt;-->
<!--                            <div class="product-description">-->
<!--                                <span>Sony</span>-->
<!--                                <a href="single-product-details.html">-->
<!--                                    <h6>Noise Cancelling Headphones</h6>-->
<!--                                </a>-->
<!--                                <p class="product-price">$80.00</p>-->

<!--                                &lt;!&ndash; Hover Content &ndash;&gt;-->
<!--                                <div class="hover-content">-->
<!--                                    &lt;!&ndash; Add to Cart &ndash;&gt;-->
<!--                                    <div class="add-to-cart-btn">-->
<!--                                        <a href="#" class="btn essence-btn">Add to Cart</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Single Product &ndash;&gt;-->
<!--                        <div class="single-product-wrapper">-->
<!--                            &lt;!&ndash; Product Image &ndash;&gt;-->
<!--                            <div class="product-img">-->
<!--                                <img src="{{ url_for('static', filename = 'img/product-img/product-3.jpg') }}" alt="">-->
<!--                                &lt;!&ndash; Hover Thumb &ndash;&gt;-->
<!--                                <img class="hover-img" src="url_for('static',filename = 'img/product-img/product-4.jpg') }}" alt="">-->

<!--                                &lt;!&ndash; Product Badge &ndash;&gt;-->
<!--                                <div class="product-badge offer-badge">-->
<!--                                    <span>-30%</span>-->
<!--                                </div>-->

<!--                                &lt;!&ndash; Favourite &ndash;&gt;-->
<!--                                <div class="product-favourite">-->
<!--                                    <a href="#" class="favme fa fa-heart"></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Product Description &ndash;&gt;-->
<!--                            <div class="product-description">-->
<!--                                <span>RAZER</span>-->
<!--                                <a href="single-product-details.html">-->
<!--                                    <h6>RAZER Chroma Keyboard</h6>-->
<!--                                </a>-->
<!--                                <p class="product-price"><span class="old-price">$75.00</span> $55.00</p>-->

<!--                                &lt;!&ndash; Hover Content &ndash;&gt;-->
<!--                                <div class="hover-content">-->
<!--                                    &lt;!&ndash; Add to Cart &ndash;&gt;-->
<!--                                    <div class="add-to-cart-btn">-->
<!--                                        <a href="#" class="btn essence-btn">Add to Cart</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Single Product &ndash;&gt;-->
<!--                        <div class="single-product-wrapper">-->
<!--                            &lt;!&ndash; Product Image &ndash;&gt;-->
<!--                            <div class="product-img">-->
<!--                                <img src="{{ url_for('static', filename= 'img/product-img/product-4.jpg') }}" alt="">-->
<!--                                &lt;!&ndash; Hover Thumb &ndash;&gt;-->
<!--                                <img class="hover-img" src="{{ url_for('static', filename = 'img/product-img/product-5.jpg') }}" alt="">-->

<!--                                &lt;!&ndash; Product Badge &ndash;&gt;-->
<!--                                <div class="product-badge new-badge">-->
<!--                                    <span>New</span>-->
<!--                                </div>-->

<!--                                &lt;!&ndash; Favourite &ndash;&gt;-->
<!--                                <div class="product-favourite">-->
<!--                                    <a href="#" class="favme fa fa-heart"></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Product Description &ndash;&gt;-->
<!--                            <div class="product-description">-->
<!--                                <span>Intel</span>-->
<!--                                <a href="single-product-details.html">-->
<!--                                    <h6>3.5GHz i7 Processor</h6>-->
<!--                                </a>-->
<!--                                <p class="product-price">$180.00</p>-->

<!--                                &lt;!&ndash; Hover Content &ndash;&gt;-->
<!--                                <div class="hover-content">-->
<!--                                    &lt;!&ndash; Add to Cart &ndash;&gt;-->
<!--                                    <div class="add-to-cart-btn">-->
<!--                                        <a href="#" class="btn essence-btn">Add to Cart</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!-- ##### New Arrivals Area End ##### -->

{% endblock %}
