{% extends 'base.html' %}
{% block content %}
    <div class="single-blog-post-thumb">
        <img src="img/bg-img/bg-10.jpg" alt="">
    </div>

    <!-- ##### Blog Wrapper Area Start ##### -->
    <div class="single-blog-wrapper">

      <br>
      <center><h4 style="color:pink">Hello! How can we help you?</h4></center>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">

            <center><h6>Frequently Asked Questions</h6></center>
            <br>

            <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          How do I sign up for an account?
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          What shipping methods are available?
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Is membership free?
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>

<br><br>
<div class="container">
<hr class="hr-text" data-content="OR">
</div>
<br>
                       {% with messages = get_flashed_messages() %}
                              {% if messages %}
                                <ul class=flashes>
                                {% for message in messages %}
                                  <li style = 'color:red;'>{{ message }}</li>
                                {% endfor %}
                                </ul>
                                <br>
                              {% endif %}
                            {% endwith %}
 <form action="/support" method="POST">
     {{ form.csrf_token() }}
<center><h6>Contact Us</h6></center>
<center><p>We will get back to you within <b>3 working days</b>. Thank you for your patience.</p></center>
<br>

<div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping" style='padding-right : 35px'>Name</span>
  </div>
    {{ form.name(class_='form-control') }}
</div>
       {% for error in form.name.errors %}
                                    <li style ='color:red;list-style-type:none;'>{{ error }}</li>
                                {% endfor %}


<br>

<div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping" style='padding-right : 40px'>Email</span>
  </div>
    {{ form.email(class_='form-control') }}
</div>
       {% for error in form.email.errors %}
                                    <li style ='color:red;list-style-type:none;'>{{ error }}</li>
                                {% endfor %}


<br>

<div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping" style='padding-right : 23px'>Subject</span>
  </div>
    {{ form.subject(class_='form-control') }}
</div>
       {% for error in form.subject.errors %}
                                    <li style ='color:red;list-style-type:none;'>{{ error }}</li>
                                {% endfor %}


<br>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">Message</span>
  </div>
    {{ form.message(class_='form-control') }}
</div>
       {% for error in form.message.errors %}
                                    <li style ='color:red;list-style-type:none;'>{{ error }}</li>
                                {% endfor %}


<br>



<center><input type="submit" class="btn btn-outline-primary" style='padding-right : 100px; padding-left : 100px'></center>
 </form>
<br><br><br>





                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Blog Wrapper Area End ##### -->
{% endblock %}