{% extends 'base.html' %}
{% block title %}NTechBanking - Transfers{% endblock %}
{% block content %}
 <div class="single-blog-wrapper">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="regular-page-content-wrapper section-padding-80">
                            <h2>Payment Transfer</h2>
                            <p>Get Started with our secure transaction by transferring to your peers!</p>
<br>
                        {% with messages = get_flashed_messages() %}
                              {% if messages %}
                                <ul class=flashes>
                                {% for message in messages %}
                                  <li style = 'color:red;'>{{ message }}</li>
                                {% endfor %}
                                </ul>
                                <br>
                              {% endif %}
                            {% endwith %}
                            <form action="/transfer/{{current_user.username}}" method="POST">
                                {{ form.hidden_tag() }}
                                <div class="input-group flex-nowrap">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="addon-wrapping">Email</span>
                              </div>
                                    {{ form.email(class_='form-control',placeholder='Email') }}
                                </div>
                                <br>
                                   <div class="input-group flex-nowrap">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="addon-wrapping">Amount</span>
                              </div>
                                       {{ form.amount(class_='form-control',placeholder='Amount') }}
                                   </div>
                                <br>
                                <center><input type = 'submit' class="btn btn-outline-primary"></center>

                            </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
