{% extends 'base.html' %}
{% block title %}NTechBanking - Transfers{% endblock %}
{% block content %}
 <div class="single-blog-wrapper">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="regular-page-content-wrapper section-padding-80">
                            <h2>Payment Transfer</h2>
                            <p>Get Started with our secure transaction by transferring to your peers!</p>
<br>
                             <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                  <div class="panel-heading" style = 'background:#f2f2f2;border-radius:10px;height:40px;'>
                                    <p class="panel-title" style="padding-left:10px;">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" style = "color:black;font-size:20px;font-weight:normal;text-decoration:underline;">By Mobile Number</a>
                                    </p>
                                  </div>
                                  <div id="collapse1" class="panel-collapse collapse in" style="padding:10px;border:1px solid #f2f2f2;border-radius:10px;">
                                    <div class="panel-body">
                                        <!-- this part form class and jinja pls-->
                                        <!-- current just for UI !-->
                                        <input class="form-control" type="text" placeholder="Mobile No"><br>
                                        <center><input type="submit" value="Confirm" class="btn btn-outline-primary"></center>
                                    </div>
                                  </div>
                                </div>
                                 <br>

                                     <div class="panel panel-default">
                                  <div class="panel-heading" style = 'background:#f2f2f2;border-radius:10px;height:40px;'>
                                    <p class="panel-title" style="padding-left:10px;">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" style = "color:black;font-size:20px;font-weight:normal;text-decoration:underline;">By NRIC</a>
                                    </p>
                                  </div>
                                  <div id="collapse2" class="panel-collapse collapse in" style="padding:10px;border:1px solid #f2f2f2;border-radius:10px;">
                                    <div class="panel-body">
                                        <!-- this part form class and jinja pls-->
                                        <!-- current just for UI !-->
                                        <input class="form-control" type="text" placeholder="NRIC"><br>
                                        <center><input type="submit" value="Confirm" class="btn btn-outline-primary"></center>
                                    </div>
                                  </div>
                                </div>

                                </div>

                            </div>









                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
